<h1>Whatever</h1>

<h2>Meetups</h2>
<ul>
  <% @events.each do |event| %>
    <li>
      <ul>
        <li><strong>Event Title: </strong><a href='/events/<%=event.id%>'><%= event.title %></a></li>
        <li><strong>Group Name: </strong><a href=<%= event.group_url%>><%= event.group_title %></a></li>
        <li><strong>Description: </strong><%= event.description %></li>
        <br><br>
      </ul>
    </li>
  <% end %>
</ul>
