<h1><strong>Event Title:</strong>
  <a href=<%=@event.event_url%>><%= @event.title %></a>
</h1>

<ul>
  <li>
    <strong>Group Title:</strong>
    <a href=<%=@event.group_url %>><%= @event.group_title %></a>
  </li>
  <li>
    <strong>Description:</strong>
      <%= @event.description %>
  </li>
</ul>
<%#= binding.pry %>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&q=<%= @event.latitude %>,<%= @event.longitude %>"></iframe>

<!-- <iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q='+YOUR_LAT+','+YOUR_LON+'&hl=es;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q='+data.lat+','+data.lon+'&hl=es;z=14&amp;output=embed" style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small> -->

